{% extends "calendar/base.html" %}
{% block content %}
        <h1>Weekly Schedule</h1>

        <div class="filter-container">
            <label for="Campus">Choose Campus:</label>
            <select>
                <option value="Cranford">Cranford</option>
                <option value="Elizabeth">Elizabeth</option>
                <option value="Plainfield">Plainfield</option>
                <option value="scotch-plains">Scotch Plains</option>
            </select>
            <input type="week" name="week" id="camp-week" min="2018-W18" max="2026-W26">
            <input type="date" id="date">
            <input type="time" id='starttime'/>
            <input type="time" id='endtime'/>
            <button>Add</button>
        </div>

        <div class="calendar-container">

            <div class="header">
                <ul class="weekdays">
                    <li>Monday</li>
                    <li>Tuesday</li>
                    <li>Wednesday</li>
                    <li>Thursday</li>
                    <li>Friday</li>
                </ul>
            </div>

            <div class="nameslots-container">
                <ul class="nameslots">
                    <li>Heather</li>
                    <li>Lisa</li>
                    <li>Robert</li>
                    <li>Tinny</li>
                </ul>
            </div>


            <div class="event-container">

                
                <div class="slot slot-1">
                    <div class="event-status">
                    </div>
                    <span>Cr 8:00-6pm</span>
                </div>

            </div>
        </div>
{% endblock content %}

